altgraph==0.17.4
auto-py-to-exe==2.42.0
bottle==0.12.25
bottle-websocket==0.2.9
cffi==1.16.0
coloredlogs==15.0.1
dearpygui==1.11.0
Eel==0.16.0
flatbuffers==24.3.7
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
GPUtil==1.4.0
greenlet==3.0.3
humanfriendly==10.0
mpmath==1.3.0
numpy==1.26.4
onnxruntime-gpu==1.17.1
opencv-python==4.9.0.80
packaging==24.0
pefile==2023.2.7
pillow==10.2.0
protobuf==4.25.3
psutil==5.9.8
pycparser==2.21
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
pyparsing==3.1.2
pyreadline3==3.4.1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
setuptools==69.1.1
sympy==1.12
whichcraft==0.6.1
xdialog==1.1.1.1
zope.event==5.0
zope.interface==6.2
